@font-face {
    font-family: "Dancing Script";
    src: url("fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-VariableFont_wght.ttf");
}

html, body {
    height: 100vh;
    margin: 0;
}

@media only screen and (width >= 1200px) {
    .container {
        height: 100vh;
        margin: 0;
        display: grid;
        grid-template-columns: [sidebar] 17% 10% [main] 50% auto;
        grid-template-rows: auto;
    }

    .item-sidebar {
        grid-column: sidebar;
        background-color: #1E1E1E;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: [logo] 7% [home] 4% [explore] 4% [posts] 4% [message] 4% auto [logout] 4%;
    }

    .item-logo {
        grid-row: logo;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        font-size: calc(1.5vw + 1.5vh);
        font-family: "Dancing Script", cursive;
    }

    .category {
        display: grid;
        padding-left: 10%;
        padding-right: 10%;
        grid-template-columns: [image] 20% [text-field] auto;
        border-bottom: 1px solid gray;
    }

    .category img {
        grid-row: image;
        width: 40%;
        align-self: center;
        height: auto;
        object-fit: cover;
    }

    .category p {
        grid-row: text-field;
        color: white;
        font-family: Raleway, sans-serif;
        align-self: center;
    }

    .item-logout {
        align-self: end;
        margin-left: 5%;
        margin-right: 5%;
        border: 1px solid gray;
        border-radius: 20px;
    }

    .item-content {
        display: grid;
        grid-column: main;
        grid-template-columns: auto;
        grid-template-rows: [profile-info] 18% [photos] auto;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .header {
        grid-row: profile-info;
        display: grid;
        column-gap: 3%;
        row-gap: 2%;
        font-family: Raleway, sans-serif;
        grid-template-columns: [profile-pic] 33% repeat(3, auto [info]);
        grid-template-areas: 
        'profile-pic name edit settings'
        'profile-pic posts followers following'
        'profile-pic tags . .';
        
    }

    .name {
        grid-area: name;
    }

    .settings-button {
        grid-area: settings;
        margin: 15%;
        background-color: #ece8e8;
        border-radius: 10px;
    }

    .edit-button {
        grid-area: edit;
        margin: 15%;
        background-color: #ece8e8;
        border-radius: 10px;
    }

    .posts {
        grid-area: posts;
    }

    .followers {
        grid-area: followers;
    }

    .following {
        grid-area: following;
    }

    .tags {
        grid-area: tags;
    }

    .item-profile {
        grid-area: profile-pic;
        border-radius: 50%;
        background-image: url('images/profile-avatar.webp');
        background-size: cover;
        height: 60%;
        aspect-ratio: 1/1;
    }

    .photos {
        grid-row: photos;
        padding-top: 4%;
        border-top: 1px solid gray;
        display: grid;
        column-gap: 2%;
        row-gap: 2%;
        grid-auto-flow: dense;
        grid-template-columns: repeat(3, 32%) 4%;
        grid-template-areas: 
        'img1 img2 img3 .'
        'img4 img5 img3 .'
        'img6 img6 img7 .';
    }

    .item-img1 {
        grid-area: img1;
    }

    .item-img2 {
        grid-area: img2;
    }

    .item-img3 {
        grid-area: img3;
    }

    .item-img4 {
        grid-area: img4;
    }

    .item-img5 {
        grid-area: img5;
    }

    .item-img6 {
        grid-area: img6;
    }

    .item-img7 {
        grid-area: img7;
    }

    .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media only screen and (width < 1200px) {    
    .container {
        height: 100vh;
        margin: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: [main] 94% [sidebar] 6%;
    }
    
    .item-sidebar {
        grid-row: sidebar;
        background-color: #1E1E1E;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: auto;
    }

    .item-logo {
        display: none;
    }
    
    .category {
        display: grid;
        padding-left: 10%;
        padding-right: 10%;
        grid-template-columns: [image] auto;
        align-items: center;
    }
    
    .category img {
        grid-column: image;
        width: 40%;
        place-self: center;
        height: auto;
        object-fit: cover;
    }
    
    .category p {
        display: none;
    }
    
    .item-content {
        display: grid;
        grid-row: main;
        grid-template-columns: auto;
        grid-template-rows: [profile-info] 30% [photos] auto;
        padding: 5%;
    }
    
    .header {
        grid-row: profile-info;
        display: grid;
        column-gap: 3%;
        row-gap: 2%;
        font-family: Raleway, sans-serif;
        grid-template-columns: repeat(3, 33%);
        grid-template-areas: 
        'profile-pic name name'
        'profile-pic edit edit'
        '. settings settings'
        'posts followers following';
    }
    
    .item-profile {
        grid-area: profile-pic;
        border-radius: 50%;
        background-image: url('images/profile-avatar.webp');
        background-size: cover;
        height: 60%;
        aspect-ratio: 1/1;
    }

    .name {
        grid-area: name;
    }

    .settings-button {
        grid-area: settings;
        margin-right: 30%;
        margin-bottom: 10%;
        background-color: #ece8e8;
        border-radius: 10px;
    }

    .edit-button {
        grid-area: edit;
        margin-right: 30%;
        margin-bottom: 10%;
        background-color: #ece8e8;
        border-radius: 10px;
    }

    .posts {
        grid-area: posts;
    }

    .followers {
        grid-area: followers;
    }

    .following {
        grid-area: following;
    }

    .tags {
        display: none;
    }
    
    .item-info button {
        background-color: #ece8e8;
        border-radius: 10px;
        display: inline-block;
        border: none;
        font-weight: bold;
        width: auto;
        height: auto;
    }
    
    .photos {
        grid-row: photos;
        padding-top: 4%;
        border-top: 1px solid gray;
        display: grid;
        column-gap: 5%;
        row-gap: 2%;
        grid-auto-flow: dense;
        grid-template-columns: 66% 33%;
        grid-template-rows: repeat(3, 22%);
        grid-template-areas: 
        'img1 img5'
        'img4 img2'
        'img6 img7';
    }
    
    .item-img1 {
        grid-area: img1;
    }
    
    .item-img2 {
        grid-area: img2;
    }

    .item-img3 {
        display: none;
    }
    
    .item-img4 {
        grid-area: img4;
    }
    
    .item-img5 {
        grid-area: img5;
    }
    
    .item-img6 {
        grid-area: img6;
    }
    
    .item-img7 {
        grid-area: img7;
    }
    
    .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}