@font-face {
    font-family: "Dancing Script";
    src: url("fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-VariableFont_wght.ttf");
}

html, body {
    height: 100%;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    html, body {
        width: 393px;
    }
}

.sidenav {
    background-color: #1E1E1E;
    color: white;
    text-align: left;
    top: 0;
    left: 0;
    width: 305px;
    height: 100rem;
    position: absolute;
    float: left;
}

@media only screen and (max-width: 1200px) {
    .sidenav {
        height: 62px;
        width: 100rem;
        bottom: 0;
        top: 964px;
    }
}

#logo {
    padding-left: 36px;
    position: absolute;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
}

@media only screen and (max-width: 1200px) {
    #logo {
        visibility: hidden;
    }
}

#categories {
    padding-top: 110px;
    width: 305px;
    min-height: calc(100% - 100px);
    position: relative;
}

@media only screen and (max-width: 1200px) {
    #categories {
        width: 393px;
        min-height: 42px;
        padding: 0;
        margin: 0;
    }
}

.category {
    border-bottom: 1px solid gray;
    bottom: 1344px;
    width: 305px;
    height: 61px;
    display: block;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
    .category {
        width: 78px;
        min-height: 40px;
        padding: 0;
        margin: 0;
        display: inline;
    }
}

.category img {
    padding-left: 39px;
}

@media only screen and (max-width: 1200px) {
    .category img {
        padding-left: 19px;
        padding-right: 44px;
    }
}

.category p {
    display: inline;
    padding-left: 15px;
    font-family: Raleway, sans-serif;
}

@media only screen and (max-width: 1200px) {
    .category p, .logout p {
        padding-left: 0;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

.logout {
    border: 1px solid gray;
    border-color: white;
    border-radius: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 100px;
}

@media only screen and (max-width: 1200px) {
    .logout {
        width: 78px;
        min-height: 40px;
        padding-bottom: 22px;
        padding-left: 351px;
        margin: 0;
        border: 0;
        display: inline;
    }
}

.logout > img {
    margin-right: 20px;
    margin-left: 20px;
}

@media only screen and (max-width: 1200px) {
    .logout img {
        padding-left: 19px;
        padding-right: 44px;
    }
}

.logout p {
    margin: 0;
    text-align: center;
    font-family: Raleway, sans-serif;
}

.main {
    padding-left: 497px;
    height: 100vh;
    width: 966.09;
}

@media only screen and (max-width: 1200px) {
    .main {
        padding-left: 19px;
        height: 100vh;
        width: 351px;
    }
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin-top: 116px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .profile-pic {
        width: 100px;
        height: 100px;
        margin-top: 41px;
    }
}   

.profile-pic > img {
    position: absolute;
    height: 320px;
    width: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 1200px) {
    .profile-pic > img{
        height: 160px;
        width: 100px;
    }
} 

.header {
    width: 966.09px;
    height: 316.5px;
    overflow: hidden;
}

@media only screen and (max-width: 1200px) {
    .header{
        width: 100rem;
        height: 289px;
    }
} 

.info {
    position: absolute;
    padding-left: 306px;
    padding-top: 72px;
    overflow: hidden;
    font-family: Raleway, sans-serif;
}

@media only screen and (max-width: 1200px) {
    .info {
        padding-left: 120px;
        padding-top: 32px;
    }
} 

.info h3 {
    display: inline;
    font-size: 32px;
    font-weight: normal;
}

@media only screen and (max-width: 1200px) {
    .info h3 {
        font-size: 20px;
    }
} 

.info button {
    background-color: #ece8e8;
    border-radius: 10px;
    border: none;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 74px;
}

@media only screen and (max-width: 1200px) {
    .info button {
        border-radius: 10px;
        padding: 10px 54px;
        margin-left: 0;
        margin-top: 11px;
    }
}

.info button:first-of-type {
    margin-left: 43px;
}

@media only screen and (max-width: 1200px) {
    .info button:first-of-type {
        margin-left: 0;
    }
}

.profile-state {
    position: absolute;
    padding-left: 306px;
    padding-top: 150px;
    overflow: hidden;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 33px;
}

@media only screen and (max-width: 1200px) {
    .profile-state {
        padding-left: 0;
        padding-top: 221px;
        font-size: 20px;
        margin-top: 67px;
        margin-bottom: 17px;
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .profile-state a {
        float:left; 
        display:inline; 
        width: 33.33%;
        text-align: center;
    }
}

.profile-state a:not(:first-child) {
    padding-left: 25px;
}

.tags {
    font-size: 16px;
}

@media only screen and (max-width: 1200px) {
    .tags {
        visibility: hidden;
    }
}

.posts{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    padding-top: 49.5px;
    margin-top: 60.5px;
    margin-right: 270.96px;
    border-top: 1px solid gray;
}

@media only screen and (max-width: 1200px) {
    .posts{
        max-width: 351px;
        padding-top: 28px;
        margin-top: 17px;
        margin-right: 22px;
    }
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: black;
    cursor: pointer;
}

#man-img {
    width: 300px;
    height: 300px;
    margin: 0 937px 849px 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container #man-img:hover {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    font-family: Raleway, sans-serif;
    padding: 16px 32px;
}

@media only screen and (max-width: 1200px) {
    .container{
        visibility: hidden;
    }
}

#show-image {
    display: none;
}

.container img {
    object-fit: cover;
}

.larger_image {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    position: absolute;
    text-align: center;
    padding: 507px 614px 456px 614px;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

#show-image:checked ~ .larger_image {
    opacity: 1;
    visibility: visible;
}

#large-man-img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: center;
}

.large-image-container {
    margin: 507px 614px;
}

#man-img-mobile {
    visibility: hidden;
}

@media only screen and (max-width: 1200px) {
    #man-img-mobile {
        visibility: visible;
        width: 230px;
        height: 196px;
        padding: 0 143px 513px 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
    }
}

#dog-img {
    width: 300px;
    height: 300px;
    margin: 0 607px 849px 330px;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

@media only screen and (max-width: 1200px) {
    #dog-img {
        width: 112px;
        height: 196px;
        margin: 222px 24px 291px 237px;
    }
}

#fish-img {
    width: 300px;
    height: 632px;
    margin: 0 277px 517px 660px;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

@media only screen and (max-width: 1200px) {
    #fish-img {
        visibility: hidden;
    }
}

#glasses-img {
    width: 300px;
    height: 300px;
    margin: 330px 937px 519px 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

@media only screen and (max-width: 1200px) {
    #glasses-img {
        width: 230px;
        height: 196px;
        margin: 222px 143px 513px 0;
    }
}

#woman-img {
    width: 300px;
    height: 300px;
    margin: 330px 607px 519px 330px;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

@media only screen and (max-width: 1200px) {
    #woman-img {
        width: 112px;
        height: 196px;
        margin: 0 24px 291px 237px;
    }
}

#family-img {
    width: 620px;
    height: 300px;
    margin: 660px 607px 189px 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

@media only screen and (max-width: 1200px) {
    #family-img {
        width: 230px;
        height: 196px;
        margin: 432px 143px 513px 0;
    }
}

#build-img {
    width: 300px;
    height: 300px;
    margin: 660px 277px 189px 660px;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

@media only screen and (max-width: 1200px) {
    #build-img {
        width: 112px;
        height: 196px;
        margin: 432px 24px 291px 237px;
    }
}
