blockquote {
  margin-bottom: 1.6rem;
}

blockquote > cite {
  color: var(--light);
  font-style: normal;
  font-family: var(--font-family-inter);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
}

blockquote > cite > em {
  color: var(--yellow);
  font-style: normal;
}
