.player-card {
    display: flex;
    flex-direction: column;
    height: 23rem;
    width: 18rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: black;
    background-image: url("../assets/profile.jpg");
    background-repeat: no-repeat;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.player-card__player-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.player-card__profile-image {
    width: 15rem;
}

.player-card__player-info--emphasis {
    display: block;
    color: yellow;
}

.player-card__stat-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-card__info-wrapper {
    gap: 0.25rem;
    margin-bottom: 1rem;
}